.Dossier {
  display: flex;
  flex-direction: column;
  color: white;

  .couverture {
    position: relative;

    .deplacer {
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: rgba(0, 0, 0, 0.301);
      border-radius: 50%;
      padding: 0.25em;

      .boutonDeplacer{
        color: rgba(255, 255, 255, 0.712);
      }
    }
  }

  .info {
    padding: 0.5em;

    h2 {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 0.5em 0 0.5em 0;
    }

    p {
      font-size: 1.1rem;
    }
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    align-self: flex-end;
    margin: -1em 0.5em 0.5em 0;
  }
}